
<div id="cardContainer">

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example article icon">article</mat-icon>Статьи</mat-card-title>
            <mat-card-subtitle>Добавить статью</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете добавить обычную статью. Следуйте инструкции и проверяйте текст статьи перед постингом. В случае, если в статье были допущены ошибки, отредактируйте статью или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/articleUpload">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example article icon">article</mat-icon>Статьи</mat-card-title>
            <mat-card-subtitle>Изменить статью</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете изменить обычную статью. Следуйте инструкции и проверяйте текст статьи перед постингом. В случае, если в статье были допущены ошибки, отредактируйте статью или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/articleEdit">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example article icon">article</mat-icon>Статьи</mat-card-title>
            <mat-card-subtitle>Удалить статью</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете удалить обычную статью. Следуйте инструкции и проверяйте название и ID статьи, которую вы хотите удалить. В случае удаления неверной статьи Вы можете восстановить её из корзины. Для полного удаления статьи перейдите в корзину. Изображения использованые в статье должны быть удалены отдельно.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/articleDelete">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example info icon">info</mat-icon>Информационные страницы</mat-card-title>
            <mat-card-subtitle>Добавить информационную страницу</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете добавить информационную страницу. Следуйте инструкции и проверяйте текст страницы перед постингом. В случае, если были допущены ошибки, отредактируйте страницу или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/infoPageUpload">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example info icon">info</mat-icon>Информационные страницы</mat-card-title>
            <mat-card-subtitle>Изменить информационную страницу</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете изменить информационную страницу. Следуйте инструкции и проверяйте текст страницы перед постингом. В случае, если  были допущены ошибки, отредактируйте страницу или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/infoPageEdit">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example info icon">info</mat-icon>Информационные страницы</mat-card-title>
            <mat-card-subtitle>Удалить информационную страницу</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете удалить информационную страницу. Следуйте инструкции и проверяйте название раздела страницы перед удалением. В случае удаления неверной страницы Вы можете восстановить её из корзины. Для полного удаления статьи перейдите в корзину. Изображения использованые в статье должны быть удалены отдельно.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/infoPageDelete">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example radio icon">radio</mat-icon>Подкасты</mat-card-title>
            <mat-card-subtitle>Добавить подкаст</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете добавить новый подкаст. Следуйте инструкции и проверяйте код для встраивания подкаста перед постингом. В случае, если в коде для встраивания были допущены ошибки, отредактируйте подкаст или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/podcastUpload">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example radio icon">radio</mat-icon>Подкасты</mat-card-title>
            <mat-card-subtitle>Изменить подкаст</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете изменить подкаст. Следуйте инструкции и проверяйте код для встраивания подкаста перед постингом. В случае, если в коде для встраивания были допущены ошибки, отредактируйте подкаст или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/podcastEdit">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example radio icon">radio</mat-icon>Подкасты</mat-card-title>
            <mat-card-subtitle>Удалить подкаст</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете удалить подкаст. Следуйте инструкции и проверяйте ID подкаста, который Вы хотите удалить. В случае удаления неверного подкаста Вы можете восстановить его из корзины. Для полного удаления статьи перейдите в корзину.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/podcastDelete">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example category icon">category</mat-icon>Обычные разделы</mat-card-title>
            <mat-card-subtitle>Добавить новый раздел</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете добавить новый раздел. Следуйте инструкции и проверяйте название и английский эквивалент перед постингом. В случае, если в названии или эквиваленте были допущены ошибки, удалите раздел и создайте его снова или свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/categoryUpload">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example category icon">category</mat-icon>Обычные разделы</mat-card-title>
            <mat-card-subtitle>Изменение параметров обычных разделов</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете можете изменить название и английский эквивалент обычных разделов и всех относящихся к ним статей.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/categoryEdit">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example category icon">category</mat-icon>Обычные разделы</mat-card-title>
            <mat-card-subtitle>Удалить обычный раздел и все статьи в нём</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете удалить обычный раздел и все статьи которые к нему относятся. Следуйте инструкции и проверяйте название раздела перед его удалением. Все удалённые статьи будут помещены в корзину и определены в раздел статьи. Разделы ГЛАВНАЯ и СТАТЬИ удалить невозможно. В случае возникновения трудностей свяжитесь с разработчиком.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/categoryDelete">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example collections icon">collections</mat-icon>Изображения</mat-card-title>
            <mat-card-subtitle>Коллекция изображений</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              В данном разделе находятся все загруженые изображения. Их загрузка может занять некоторое время. Удаление и добавление изображений происходит здесь.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/imagesCollection">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="cardItem">
        <mat-card-header>
            <mat-card-title><mat-icon aria-hidden="true" aria-label="Example delete icon">delete_outline</mat-icon>Корзина</mat-card-title>
            <mat-card-subtitle>Окончательное удаление или восстаноление статей, информационных страниц и подкастов</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              Здесь Вы можете восстановить раннее удалённые файлы или окончательно удалить их навсегда.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="/trash">ПЕРЕЙТИ</button>
        </mat-card-actions>
    </mat-card>

</div>