#cardContainer{
    width: 100%;
    padding: 0;
    margin-top: 25px;
}

.cardItem{
    width: 77.625%;
    margin-left: 10%;
    background-color: #f0f0f0;
}

mat-card-subtitle{
    color: #212121;
}

.mat-icon {
    vertical-align: bottom;
    font-size: 20px;
    width: 24px;
    height: 20px;
 }

.articleForm{
    width: 100%;
    text-align: right;
}

.inputField{
    width: 100%;
}