<mat-card class="cardItem">
    <mat-card-header>
        <mat-card-title>{{trash.title}}</mat-card-title>
        <mat-card-subtitle>{{trash._id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          {{trash.subText}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="onRecover()">ВОССТАНОВИТЬ</button>
        <button mat-raised-button color="warn" (click)="onDelete()">УДАЛИТЬ</button>
    </mat-card-actions>
</mat-card>
